/***************Header****************/
header {
    height: 60px;
    color: #fff;
    background-color: #233870;
    border-bottom: solid 1px #c7a500;
}

#home-link {
    text-decoration: none;
}

.home-icon {
    font-size: 30px;
    padding-left: 15px;
    color: white;
    /* color: #ffd600;*/
}


#title {
    display: inline-block;
    color: yellow;
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    line-height: 20px;
    padding-left: 15px;
    padding-top: 8px;
}

@media(max-width:410px) {
    .home-icon {
        font-size: 25px;
        padding-left: 15px;
    }
    #title {
        font-size: 20px;
        padding-left: 5px;
    }
}

#search-container {
    position: relative;
}

#searchbox:focus {
   outline: none;
}

#searchbox, #search-button {
    height: 30px;
    margin-top: 15px;
    background-color: white;
    border: none;
}

#searchbox {
    width: 100%;
}

#search-button {
    position: absolute;
    right: 0;
}


::placeholder {
    padding-left: 15px;
}

/***************Carousels****************/

#now-playing-container, #coming-soon-container {
    position: relative;
}

.carousel-title {
    text-align: center;
}

.carousel-item-link {
    text-align: center;
}

.carousel-item-link:focus {
    outline: none;
}

.np-next, .np-prev, .cs-next, .cs-prev  {
    position: absolute;
    top: 50%;
    color: white;
    z-index: 1;
    font-size: 30px;
}

.np-next:hover, .np-prev:hover, .cs-next:hover, .cs-prev:hover  {
    color: yellow;
    cursor: pointer;
}

.cs-prev, .np-prev {
    left: 50px;
}
.cs-next, .np-next  {
    right: 50px;
}
.now-playing-item, .coming-soon-item {
    display: inline-block;
}

/***************Search results****************/

#list-container {
    padding-top: 10px;
}

.search-item {
     list-style: none;
     margin-bottom: 10px;
 }

.search-item img {
   min-height: 147px;
   min-width: 98px;

}

.search-item-details {
    display: inline-block;
}

.search-item-details a {
    text-decoration: none;
}

.rating i {
    color: gold;
}

/***************Movie details****************/

#movie-wrapper {
    padding-top: 42px;
}

#rating-container {
    background-color: #534bae;
    height: 80px;
}

#rate {
    display: inline-block;
}

.grey {
    color: grey;
}

.hover-yellow, .selected-yellow {
    color: yellow;
}

/***************Footer****************/

footer {
    height: 120px;
    color: #fff;
    background-color: #233870;
    margin-top: 40px;
}

footer a {
    text-decoration: none;
    color: #fff;

}

footer h2 {
    padding-top: 5px;
}

footer a:hover {
    color: #fff;
}
#media-links {
    text-align: center;
}