@import url('https://fonts.googleapis.com/css?family=Coda+Caption:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700');

/***************Header****************/
header {
    height: 60px;
    color: #fff;
    background-color: #e3b91e;
    /*70232a or efef0e or 233870 or #131307*/

}

#home-link {
    text-decoration: none;
}

.home-icon {
    font-size: 30px;
    padding-left: 15px;
    color: white;
    /* color: #ffd600;*/
}


#title {
    display: inline-block;
    color: #3f051a; /*bdadad*/
    text-align: center;
    font-family: 'Coda Caption', sans-serif;
    font-size: 25px;
    font-weight: 800;
    line-height: 20px;
    padding-left: 15px;
    padding-top: 8px;
}

#search-container {
    position: relative;
}

#searchbox:focus, #search-button:focus {
   outline: none;
}

#searchbox, #search-button {
    height: 30px;
    margin-top: 15px;
    background-color: white;
    border: none;
    border-radius: 2px;
}

#searchbox {
    width: 90%;
    padding-left: 15px;
}

#search-button {
    position: absolute;
    right: 10%;
    top: 0;
}

@media(max-width:410px) {
    .home-icon {
        font-size: 25px;
        padding-left: 15px;
    }
    #title {
        font-size: 20px;
        padding-left: 5px;
    }
}

/***************Carousels****************/

#now-playing-container, #coming-soon-container {
    position: relative;
    background-color: #0d0101;
}

#coming-soon-container {
    padding-bottom: 22px;
}

.carousel-title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #cad2db;
    padding-top: 12px;
    padding-bottom: 3px;
    text-transform: uppercase;
}


.carousel-item-link:focus {
    outline: none;
}

.now-playing-item, .coming-soon-item {
    text-align: center;outline: none;
}

.now-playing-item:hover, .coming-soon-item:hover {
    opacity: 0.9;
}

.arrow-box {
    border: .5px solid white;
    border-radius: 2px;
    position: absolute;
    top: 50%;
    width: 36px;
    height: 45px ;
    opacity: 3;
    z-index: 1;
    font-size: 20px;
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, .7);
}

.arrow-box-left {
    left: 50px;
}
.arrow-box-right{
    right: 50px;
}

.np-next, .np-prev, .cs-next, .cs-prev  {
 line-height: 45px;
}

.np-next:hover, .np-prev:hover, .cs-next:hover, .cs-prev:hover  {
    color: yellow;
    cursor: pointer;
}

.now-playing-item, .coming-soon-item {
    display: inline-block;
}

/***************Search results****************/

#list-container {
    padding-top: 20px;
    padding-left: 45px;
    padding-right: 45px;
}

.search-item-wrapper {
    padding-bottom: 20px;
}

.search-item {
    list-style: none;
    width: 185px;
    position: relative;
    margin:0 auto;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* Add more shadow on hover */
.search-item:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.search-item img {
   height: 278px;
    width: 185px;
}

.search-item-details a {
    text-decoration: none;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 130px;
    padding-left: 4px;
    font-weight: 500;
    color: #212529;
}

.search-item-details {
    height: 21px;
}

.search-item-details span {
    vertical-align: top;
}

.rating {
    padding-left: 4px;
}
.rating i {
    color: gold;
}


/***************Movie details****************/

#movie-wrapper {
    margin-top: 42px;
    font-family: 'Montserrat', sans-serif;
}

#director span, #cast span, #runtime span, #release-date span {
    font-weight: bold;
}

#rating-container {
    position: relative;
    /*background-color: #534bae;*/
    background-color: #393651;
    min-height: 80px;
    margin-top: 10px;
    margin-bottom: 40px;
}

#rating-container span{
   position: absolute;
    top: 26px;
    left: 10px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

#rate {
    position: absolute;
    top: 27px;
    left: 220px;
}

@media(max-width: 669px) {
    #rating-container span{
        position: absolute;
        top: 5px;
    }

    #rate {
        position: absolute;
        top: 40px;
        left: 10px;
    }
}

#rating-container p{

    display: inline-block;
    color: white;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

#rate i {
    font-size: 20px;
}

#rate button {
    border: none;
    background-color: #e4e70c;
    height: 30px;
    margin-left: 10px;
}

.grey {
    color: grey;
}

.hover-yellow, .selected-yellow {
    color: #e4e70c;
}

@media(max-width: 360px) {
    #rating-container span{
        font-size: 18px;
    }
    #rate button {
        font-size: 11px;
        margin-left: 7px;
    }
}

/***************Footer****************/

footer {
    /*  position: fixed;
      width: 100%;
      bottom: 0;
      z-index: 2;*/
    height: 120px;
    color: #fff;
    background-color: #e3b91e;
  /*  background-color: #efef0e; */
    font-family: 'Montserrat', sans-serif;
}

footer a {
    text-decoration: none;
    color: #fff;

}

footer h2 {
    padding-top: 5px;
}

footer a:hover {
    color: #fff;
}
#media-links {
    text-align: center;
    font-size: 25px;
}