/***************Header****************/
header {
    height: 60px;
    color: #fff;
    background-color: #000;
    border-bottom: solid 1px #c7a500;
}

#home-link {
    text-decoration: none;
}

.home-icon {
    font-size: 30px;
    padding-left: 15px;
    color: yellow;
    /* color: #ffd600;*/
}

#title {
    display: inline-block;
    color: yellow;
    text-align: center;
    font-size: 22px;
    font-weight: 900;
    line-height: 20px;
    padding-left: 15px;
    padding-top: 8px;
}


#searchbox:focus {
   outline: none;
}

#searchbox, #search-button {
    height: 30px;
    margin-top: 15px;
}

::placeholder {
    padding-left: 15px;
}

/***************Carousels****************/

#now-playing-container, #coming-soon-container {
    position: relative;
}

.carousel-title {
    text-align: center;
}

.carousel-item-link {
    text-align: center;
}

.carousel-item-link:focus {
    outline: none;
}

.np-next, .np-prev, .cs-next, .cs-prev  {
    position: absolute;
    top: 50%;
    color: white;
    z-index: 1;
    font-size: 30px;
}

.np-next:hover, .np-prev:hover, .cs-next:hover, .cs-prev:hover  {
    color: yellow;
    cursor: pointer;
}

.cs-prev, .np-prev {
    left: 50px;
}
.cs-next, .np-next  {
    right: 50px;
}
.now-playing-item, .coming-soon-item {
    display: inline-block;
}

/***************Search results****************/

#list-container {
    margin-top: 10px;
}

.search-item {
    list-style: none;
}

.search-item-details {
    display: inline-block;
}

.search-item-details a {
    text-decoration: none;
}

/***************Movie details****************/
.grey {
    color: grey;
}

.hover-yellow, .selected-yellow {
    color: yellow;
}