@import url('https://fonts.googleapis.com/css?family=Coda+Caption:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700');

/***************Header****************/
header {
    height: 60px;
    color: #fff;
    background-color: #131307;
    /*70232a or efef0e or 233870 or #131307*/

}

#home-link {
    text-decoration: none;
}

.home-icon {
    font-size: 30px;
    padding-left: 15px;
    color: white;
    /* color: #ffd600;*/
}


#title {
    display: inline-block;
    color: #cad2db; /*bdadad*/
    text-align: center;
    font-family: 'Coda Caption', sans-serif;
    font-size: 25px;
    font-weight: 800;
    line-height: 20px;
    padding-left: 15px;
    padding-top: 8px;
}

@media(max-width:410px) {
    .home-icon {
        font-size: 25px;
        padding-left: 15px;
    }
    #title {
        font-size: 20px;
        padding-left: 5px;
    }
}

#search-container {
    position: relative;
}

#searchbox:focus, #search-button:focus {
   outline: none;
}

#searchbox, #search-button {
    height: 30px;
    margin-top: 15px;
    background-color: white;
    border: none;
    border-radius: 2px;
}

#searchbox {
    width: 100%;
    padding-left: 15px;
}

#search-button {
    position: absolute;
    right: 0;
    top: 0;
}




/***************Carousels****************/

#now-playing-container, #coming-soon-container {
    position: relative;
    background-color: #0d0101;
}

.carousel-title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #cad2db;
}

.carousel-item-link {
    text-align: center;
}

.carousel-item-link:focus {
    outline: none;
}

.now-playing-item:hover, .coming-soon-item:hover {
    opacity: 0.9;
}

.arrow-box {
    border: .5px solid white;
    border-radius: 2px;
    position: absolute;
    top: 50%;
    width: 36px;
    height: 45px ;
    opacity: 3;
    z-index: 1;
    font-size: 20px;
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, .7);
}

.arrow-box-left {
    left: 50px;
}
.arrow-box-right{
    right: 50px;
}

.np-next, .np-prev, .cs-next, .cs-prev  {
 line-height: 45px;
}

.np-next:hover, .np-prev:hover, .cs-next:hover, .cs-prev:hover  {
    color: yellow;
    cursor: pointer;
}

.now-playing-item, .coming-soon-item {
    display: inline-block;
}

/***************Search results****************/

#list-container {
    padding-top: 10px;
}

.search-item {
     list-style: none;
     margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
 }

.search-item img {
   min-height: 147px;
   min-width: 98px;

}

.search-item-details {
    display: inline-block;
}

.search-item-details a {
    text-decoration: none;
}

.rating i {
    color: gold;
}

/***************Movie details****************/

#movie-wrapper {
    margin-top: 42px;
    font-family: 'Montserrat', sans-serif;
}



#rating-container {
    position: relative;
    /*background-color: #534bae;*/
    background-color: #393651;
    height: 80px;
    margin-top: 10px;
    text-align: center;

}

#rating-container span{
    position: absolute;
    top: 26px;
    right: 250px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

#rating-container p{

    display: inline-block;
    color: white;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

#rate {
    position: absolute;
    top: 27px;
    right: 20px;
}



#rate i {
    font-size: 20px;
}

#rate button {
    border: none;
    background-color: #e4e70c;
    height: 30px;
    margin-left: 10px;
}

.grey {
    color: grey;
}

.hover-yellow, .selected-yellow {
    color: #e4e70c;
}

/***************Footer****************/

footer {
    height: 120px;
    color: #fff;
    background-color: #131307;
  /*  background-color: #efef0e; */
    margin-top: 40px;
    font-family: 'Montserrat', sans-serif;
}

footer a {
    text-decoration: none;
    color: #fff;

}

footer h2 {
    padding-top: 5px;
}

footer a:hover {
    color: #fff;
}
#media-links {
    text-align: center;
}